openapi: 3.0.0
info:
  contact:
    email: support@citypay.com
    name: CityPay Support
    url: https://www.citypay.com/contacts/
  description: "\nWelcome to the CityPay API, a robust HTTP API payment solution designed\
    \ for seamless server-to-server \ntransactional processing. Our API facilitates\
    \ a wide array of payment operations, catering to diverse business needs. \nWhether\
    \ you're integrating Internet payments, handling Mail Order/Telephone Order (MOTO)\
    \ transactions, managing \nSubscriptions with Recurring and Continuous Authority\
    \ payments, or navigating the complexities of 3-D Secure \nauthentication, our\
    \ API is equipped to support your requirements. Additionally, we offer functionalities\
    \ for \nAuthorisation, Refunding, Pre-Authorisation, Cancellation/Voids, and Completion\
    \ processing, alongside the capability \nfor tokenised payments.\n\n## Compliance\
    \ and Security Overview\n<aside class=\"notice\">\n  Ensuring the security of\
    \ payment transactions and compliance with industry standards is paramount. Our\
    \ API is \n  designed with stringent security measures and compliance protocols\
    \ to safeguard sensitive information and meet \n  the rigorous requirements of\
    \ Visa, MasterCard, and the PCI Security Standards Council.\n</aside>\n\n### Key\
    \ Compliance and Security Measures\n\n* **TLS Encryption**: All data transmissions\
    \ must utilise TLS version 1.2 or higher, employing [strong cryptography](#enabled-tls-ciphers).\
    \ Our infrastructure strictly enforces this requirement to maintain the integrity\
    \ and confidentiality of data in transit. We conduct regular scans and assessments\
    \ of our TLS endpoints to identify and mitigate vulnerabilities.\n* **Data Storage\
    \ Prohibitions**: Storing sensitive cardholder data (CHD), such as the card security\
    \ code (CSC) or primary account number (PAN), is strictly prohibited. Our API\
    \ is designed to minimize your exposure to sensitive data, thereby reducing your\
    \ compliance burden.\n* **Data Masking**: For consumer protection and compliance,\
    \ full card numbers must not be displayed on receipts or any customer-facing materials.\
    \ Our API automatically masks PANs, displaying only the last four digits to facilitate\
    \ safe receipt generation.\n* **Network Scans**: If your application is web-based,\
    \ regular scans of your hosting environment are mandatory to identify and rectify\
    \ potential vulnerabilities. This proactive measure is crucial for maintaining\
    \ a secure and compliant online presence.\n* **PCI Compliance**: Adherence to\
    \ PCI DSS standards is not optional; it's a requirement for operating securely\
    \ and legally in the payments ecosystem. For detailed information on compliance\
    \ requirements and resources, please visit the PCI Security Standards Council\
    \ website [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/).\n\
    * **Request Validation**: Our API includes mechanisms to verify the legitimacy\
    \ of each request, ensuring it pertains to a valid account and originates from\
    \ a trusted source. We leverage remote IP address verification alongside sophisticated\
    \ application firewall technologies to thwart a wide array of common security\
    \ threats.\n\n## Getting Started\nBefore integrating with the CityPay API, ensure\
    \ your application and development practices align with the outlined compliance\
    \ and security measures. This preparatory step is crucial for a smooth integration\
    \ process and the long-term success of your payment processing operations.\n\n\
    For further details on API endpoints, request/response formats, and code examples,\
    \ proceed to the subsequent sections of our documentation. Our aim is to provide\
    \ you with all the necessary tools and information to integrate our payment processing\
    \ capabilities seamlessly into your application.\n\nThank you for choosing CityPay\
    \ API. We look forward to supporting your payment processing needs with our secure,\
    \ compliant, and versatile API solution.\n"
  title: CityPay Payment API
  version: 6.6.40
servers:
- description: Production processing endpoint
  url: https://api.citypay.com
- description: Testing service returning test results for all transactions
  url: https://sandbox.citypay.com
tags:
- description: "The Payment Processing API is designed for MOTO (Mail Order/Telephone\
    \ Order), e-commerce, and continuous authority \ntransactions. It incorporates\
    \ advanced fraud and risk assessments, 3D Secure authentication flows, and transaction\
    \ \nquerying capabilities to streamline your payment operations securely.\n\n\n\
    ### Understanding the Authorisation Process\n\nThe authorisation process is a\
    \ critical component in payment processing, enabling standard transaction authorisation\n\
    based on the parameters provided in its request. The CityPay gateway facilitates\
    \ this by routing your transaction\nthrough to an Acquiring bank and to the appropriate\
    \ card scheme, such as Visa, MasterCard or American Express.\n\nOur API is optimized\
    \ for server environments that process transactions in real-time. It supports\
    \ various transaction types, including:\n\n- E-commerce\n- Mail order and telephone\
    \ order\n- Customer present transactions (keyed entry)\n- Continuous authority\
    \ and pre-authorisation\n\nWe tailor your account with specific acquirer configurations\
    \ to ensure smooth transactions through our gateway.\n\nDifferent transaction\
    \ environments may require specific data elements. Our API is designed to be flexible,\
    \ accommodating these various requirements with the support of our dedicated integration\
    \ team.\n\n### E-commerce workflows\n\nOur API simplifies 3D Secure integrations\
    \ for e-commerce transactions, reducing the need for direct accreditation with\
    \ Visa and MasterCard. This built-in mechanism manages authentication processes\
    \ and enhances security by shifting potential liability from the merchant to the\
    \ cardholder. The authentication produces a Cardholder Authentication Verification\
    \ Value (CAVV) and an E-commerce Indicator (ECI) that are crucial for the transaction\
    \ validation.\n\nCityPay supports 3DS version 2.2, aligned with EU regulations\
    \ for Secure Customer Authentication (SCA), and is compatible with Verified by\
    \ Visa, MasterCard Identity Check, and American Express SafeKey 2.2.\n\n#### Non-3D\
    \ Secure Transactions\n\n![3DSv2 Frctionless Flow](images/3dsv2-no3d.png)\n\n\
    Some transactions may bypass 3D Secure processing due to authentication issues\
    \ or deliberate \"attempted\" checks. These transactions will not qualify for\
    \ a liability shift and could be declined.\n\n#### Frictionless 3D Secure\n\n\
    ![3DSv2 Frctionless Flow](images/3dsv2-frictionless.png)\n\nFor low-risk transactions,\
    \ our API supports a frictionless 3D Secure process. It allows for authentication\
    \ without disrupting the user experience, requiring no redirection or additional\
    \ interaction from the cardholder.\n\n#### Challenged 3D Secure\n\n![3DSv2 Frctionless\
    \ Flow](images/3dsv2-challenge.png)\n\nHigher-risk transactions may be \"challenged,\"\
    \ requiring the cardholder to authenticate the transaction. In such cases,  \n\
    the API will return a [request challenge](#requestchallenged) which will require\
    \ your integration to forward the\ncardholder's browser to the given [ACS url](#acsurl).\
    \ This should be performed by posting the [creq](#creq) value\n(the challenge\
    \ request value).\n\n\nOnce complete, the ACS will have already been in touch\
    \ with our servers by sending us a result of the authentication\nknown as `RReq`.\n\
    \n\nTo maintain session state, a parameter `threeDSSessionData` can be posted\
    \ to the ACS url and will be returned alongside\nthe `CRes` value. This will ensure\
    \ that any controller code will be able to isolate state between calls. This field\n\
    is to be used by your own systems rather than ours and may be any value which\
    \ can uniquely identify your cardholder's\nsession. As an option, we do provide\
    \ a `threedserver_trans_id` value in the `RequestChallenged` packet which can\
    \ be used\nfor the `threeDSSessionData` value as it is used to uniquely identify\
    \ the 3D-Secure session.\n\nA common method of maintaining state is to provide\
    \ a session related query string value in the `merchant_termurl` value\n(also\
    \ known as the `notificationUrl`). For example providing a url of `https://mystore.com/checkout?token=asny2348w4561..`\n\
    could return the user directly back to their session with your environment.\n\n\
    Once you have received a `cres` post from the ACS authentication service, this\
    \ should be POSTed to the [cres](#cres)\nendpoint to perform full authorisation\
    \ processing.\n\nPlease note that the CRes returned to us is purely a mechanism\
    \ of acknowledging that transactions should be committed for\nauthorisation. The\
    \ ACS by this point will have sent us the verification value (CAVV) to perform\
    \ a liability shift. The CRes\nvalue will be validated for receipt of the CAVV\
    \ and subsequently may return response codes illustrating this.\n\nTo forward\
    \ the user to the ACS, we recommend a simple auto submit HTML form.\n\n> Simple\
    \ auto submit HTML form\n\n```html\n<html lang=\"en\">\n<head>\n        <title>Forward\
    \ to ACS</title>\n<script type=\"text/javascript\">\n        function onLoadEvent()\
    \ { \n            document.acs.submit(); \n        }\n        </script>\n    \
    \    <noscript>You will require JavaScript to be enabled to complete this transaction</noscript>\n\
    \    </head>\n    <body onload=\"onLoadEvent();\">\n        <form name=\"acs\"\
    \ action=\"{{ACSURL from Response}}\" method=\"POST\">\n            <input type=\"\
    hidden\" name=\"creq\" value=\"{{CReq Packet from Response}}\" />\n          \
    \  <input type=\"hidden\" name=\"threeDSSessionData\" value=\"{{session-identifier}}\"\
    \ />\n        </form>\n    </body>\n</html>\n```\n\nA full ACS test suite is available\
    \ for 3DSv2 testing.\n\n### Testing 3DSv2 Integrations\n\nThe API includes a simulated\
    \ 3DSv2 handler that executes various scenarios determined by the Card Security\
    \ Code (CSC) value provided in the transaction request. This feature allows developers\
    \ to test different outcomes and behaviors in a controlled environment.\n\n| CSC\
    \ Value | Behaviour                                                          \
    \   |\n|-----------|-----------------------------------------------------------------------|\n\
    | 731       | Frictionless processing - Not authenticated                    \
    \       |\n| 732       | Frictionless processing - Account verification count\
    \ not be performed |        \n| 733       | Frictionless processing - Verification\
    \ Rejected                       |        \n| 741       | Frictionless processing\
    \ - Attempts Processing                         |        \n| 750       | Frictionless\
    \ processing - Authenticated                               |        \n| 761  \
    \     | Triggers an error message                                            \
    \ |  \n| Any       | Challenge Request                                       \
    \              |\n"
  name: Authorisation and Payment Api
- description: "Batch processing uses the Batch and Instalment Service (BIS) which\
    \ allows for transaction processing against cardholder \naccounts using a dynamic\
    \ batch file. For merchants who process on their own schedules with dynamic or\
    \ fixed amounts, \nthe service allows for the presentation of cardholder account\
    \ references and transaction requirements to run as a \nscheduled batch.\n"
  name: Batch Processing Api
- description: "A cardholder account models a cardholder and can register 1 or more\
    \ cards for tokenised charging. \n\nThe account offers a credential on file option\
    \ to the CityPay gateway allowing for both cardholder initiated and \nmerchant\
    \ initiated transaction processing.\n\nThis can include unscheduled or scheduled\
    \ transactions that can be requested through this API and include batch \nprocessing\
    \ options.\n"
  name: Card Holder Account Api
- description: |
    The Direct Post Method for e-commerce payment is generally used by merchants that require more control over their
    payment form “look and feel” and can understand and implement the extra PCI DSS security controls that are required to
    protect their systems.

    The Direct Post Method uses the merchant’s website to generate the shopping cart and payment web pages. The merchant’s
    payment form, loaded in the customer’s browser, sends the cardholder data directly to CityPay’s API, ensuring cardholder
    data is not stored, processed, or transmitted via the merchant systems. The payment form, however, is provided by the
    merchant. The merchant’s systems are therefore in scope for additional PCI DSS controls, which are necessary to protect
    the merchant website against malicious individuals changing the form and capturing cardholder data.

    ### Direct Post Flow

    #### Simple Authorisation Flow

    The merchant’s website creates the payment page.

    1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
       payment form.
    2. CityPay receives the cardholder data and sends it for online authorisation, handling any ThreeDSecure authorisation
       challenges
    3. The merchant receives a HTTP 303 redirect, containing the result of the transaction as query parameters

    <img src="images/direct-post-flow.png" width="600" />

    #### Tokenisation Authorisation Flow

    The merchant’s website creates the payment page.

    1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
       payment form.
    2. CityPay receives the cardholder data and processes any ThreeDSecure authorisation and challenges.
    3. The merchant receives a HTTP `303` redirect containing the card details tokenised for consequential processing
    4. Once final confirmation is agreed at checkout, the generated token is forward to CityPay for realtime authorisation.
       This may by using HTTP redirects in a direct manner, or via an api level call

    #### Handling Redirects

    The direct post method uses HTTP `303` redirects to return data to your system. A `303` redirect differs to conventional 301
    or `302` redirects by telling the browser to not resend data if refresh is pressed.

    Payments should be developed to cater for failure. Transactions may not complete authorisation at the challenge stage or
    decline either due to insufficient funds or transient network conditions. To ensure correct payment flow, the direct
    post API requires

    1. a `redirectSuccess` url. This is used to forward the result of authorisation.
    2. a `redirectFailure` url. This is used to forward any errors that are due to invalid requests or payment failures.

    #### Domain Keys

    To allow for processing of transactions in a direct manner, CityPay provide domain keys. This value is provided on the
    initial direct post call and must be run on a pre-registered host. Our validation processes will check the `Origin` or
    `Referer`   HTTP headers to ensure that the domain keys are valid. A domain key can be registered for 1 or more domains.
  name: Direct Post Api
- description: Operations that are for operational purposes only such as checking
    connectivity to the API.
  name: Operational Functions Api
- description: "CityPay Paylink makes online e-commerce easier to implement by providing\
    \ a hosted form to handle the card payment \nprocess directly with the cardholder's\
    \ browser, allowing you to concentrate on your business whilst allowing CityPay\
    \ \nto manage the payment process on your behalf.\n\n1. Simplified payment solutions.\n\
    2. payment processing is handled by our secure web servers adding security and\
    \ confidence to your shoppers.\n3. 3D-Secure authentication is available within\
    \ the application without any difficult MPI integration, allowing for immediate\
    \ Verified by Visa and MasterCard SecureCode processing.\n4. customisation may\
    \ be performed on the secure payment form.\n5. significantly reduced technical\
    \ and financial overheads associated with software implementation and PCI compliance.\n\
    6. reduced time-to-market.\n"
  name: Paylink Api
- description: Reporting functions that return data based on payment processing services.
  name: Reporting Api
paths:
  /direct/auth:
    post:
      description: |
        Used to initiate a direct post request transaction flow.
      operationId: DirectPostAuthRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: "Redirect. A result of a successful tokenisation or authorisation\
            \ process, redirecting to the success URL."
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Redirect. A result of a non-successful tokenisation or authorisation\
            \ process, redirecting to the failure URL."
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      security:
      - cp-api-key: []
      - cp-domain-key: []
      summary: Direct Post Auth Request
      tags:
      - Direct Post Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/x-www-form-urlencoded
      - application/xml
      - text/xml
  /direct/cres/auth/{uuid}:
    post:
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      operationId: DirectCResAuthRequest
      parameters:
      - description: An identifier used to track the CReq/CRes cycle.
        explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CResDirect'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: "Redirect. A result of a successful tokenisation or authorisation\
            \ process, redirecting to the success URL."
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Redirect. A result of a non-successful tokenisation or authorisation\
            \ process, redirecting to the failure URL."
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      summary: "Handles a CRes response from ACS, returning back the result of authorisation"
      tags:
      - Direct Post Api
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/x-www-form-urlencoded
      - application/xml
  /direct/cres/tokenise/{uuid}:
    post:
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      operationId: DirectCResTokeniseRequest
      parameters:
      - description: An identifier used to track the CReq/CRes cycle.
        explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CResDirect'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenisationResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/TokenisationResponseModel'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/TokenisationResponseModel'
          description: "Redirect. A result of a successful tokenisation or authorisation\
            \ process, redirecting to the success URL."
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Redirect. A result of a non-successful tokenisation or authorisation\
            \ process, redirecting to the failure URL."
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      summary: "Handles a CRes response from ACS, returning back a token for future\
        \ authorisation"
      tags:
      - Direct Post Api
      x-content-type: application/x-www-form-urlencoded
      x-accepts:
      - application/json
      - application/x-www-form-urlencoded
      - application/xml
  /direct/token:
    post:
      description: |
        Perform a request for authorisation for a previously generated token. This flow will return an authorisation
        response stating that the transaction was approved or declined.
      operationId: TokenRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DirectTokenAuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of an authorisation process if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: "Redirect. A result of a successful tokenisation or authorisation\
            \ process, redirecting to the success URL."
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Redirect. A result of a non-successful tokenisation or authorisation\
            \ process, redirecting to the failure URL."
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
      security:
      - cp-api-key: []
      - cp-domain-key: []
      summary: Direct Post Token Request
      tags:
      - Direct Post Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/x-www-form-urlencoded
      - application/xml
      - text/xml
  /direct/tokenise:
    post:
      description: |
        Used to initiate a direct post request transaction flow.
      operationId: DirectPostTokeniseRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: "Redirect. A result of a successful tokenisation or authorisation\
            \ process, redirecting to the success URL."
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: "Redirect. A result of a non-successful tokenisation or authorisation\
            \ process, redirecting to the failure URL."
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      security:
      - cp-api-key: []
      - cp-domain-key: []
      summary: Direct Post Tokenise Request
      tags:
      - Direct Post Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/x-www-form-urlencoded
      - application/xml
      - text/xml
  /dk/check:
    post:
      description: "Checks the contents of a `domain key`. Can be used for operational\
        \ processes to ensure that the properties of a \ndomain key meet their expectations.\n"
      operationId: DomainKeyCheckRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainKeyCheckRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainKeyCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
          description: A checked domain key.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Domain Key Check Request
      tags:
      - Operational Functions Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /dk/gen:
    post:
      description: |
        Generates a domain key based on the permissions of the calling `api-key`. Domain keys can be used in _Direct Post_ and
        `XHR` calls to the API services.
      operationId: DomainKeyGenRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainKeyRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
          description: A generated domain key.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Domain Key Generation Request
      tags:
      - Operational Functions Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /paylink/bill-payment:
    post:
      description: "CityPay Paylink supports invoice and bill payment services by\
        \ allowing merchants to raise an invoice in their systems and\nassociate the\
        \ invoice with a Paylink checkout token. CityPay will co-ordinate the checkout\
        \ flow in relationship with\nyour customer. Our bill payment solution may\
        \ be used to streamline the payment flow with cardholders to allow your\n\
        invoice to be paid promptly and via multiple payment channels such as Card\
        \ Payment, Apple Pay or Google Pay.\n\nThe bill payment service allows\n\n\
        1. setting up notification paths to an end customer, such as SMS or Email\n\
        2. enabling attachments to be included with Paylink tokens\n3. produce chaser\
        \ notifications for unpaid invoices\n4. provide callbacks for notification\
        \ of the payment of an invoice\n5. support part payments against an invoice\n\
        6. support of field guards to protect the payment screen\n7. support of status\
        \ reporting on tokens\n8. URL short codes for SMS notifications\n\n<img src=\"\
        images/merchant-BPS-workflow.png\" alt=\"Paylink BPSv2 Overview\" width=\"\
        50%\"/> \n\n\n### Notification Paths\n\nNotification paths can be provided\
        \ which identify the channels for communication of the invoice availability.\n\
        Up to 3 notification paths may be provided per request.\n\nEach notification\
        \ uses a template to generate the body of the message. This allows for variable\
        \ text to be sent out and\ncustomised for each call.\n\nSMS messages use URL\
        \ Short Codes (USC) as a payment link to the invoice payment page. This allows\
        \ for a standard payment\nURL to be shortened for optimised usage in SMS.\
        \ For instance a URL of `https://checkout.citypay.com/PL1234/s348yb8yna4a48n2f8nq2f3msgyng-psn348ynaw8ynaw/en`\n\
        becomes `citypay.com/Za48na3x`. Each USC is unique however it is a requirement\
        \ that each USC generated is protected\nwith Field Guards to ensure that sensitive\
        \ data (such as customer contact details and GDPR) is protected.\n\nTo send\
        \ a notification path, append a `notification-path` property to the request.\n\
        \n```json\n {\n  \"sms_notification_path\": {\n      \"to\": \"+441534884000\"\
        \n  },\n  \"email_notification_path\": {\n      \"to\": [\"help-desk@citypay.com\"\
        ],\n      \"cc\": [\"third-party@citypay.com\"],\n      \"reply\": [\"help@my-company.com\"\
        ]\n  }\n}\n```\n\nNotification paths trigger a number of events which are\
        \ stored as part of the timeline of events of a Paylink token\n\n- `BillPaymentSmsNotificationQueued`\
        \ - identifies when an SMS notification has been queued for delivery\n- `BillPaymentSmsNotificationSent`\
        \ - identifies when an SMS notification has been sent to the upstream network\n\
        - `BillPaymentSmsNotificationDelivered` - identifies when an SMS notification\
        \ has been delivered as notified by the upstream network\n- `BillPaymentSmsNotificationUndelivered`\
        \ - identifies when an SMS notification has undelivered notification is provided\
        \ by the upstream network\n- `BillPaymentSmsNotificationFailure` - identifies\
        \ when an SMS notification has failed\n- `BillPaymentEmailNotificationQueued`\
        \ -  identifies when an email notification has been queued for delivery\n\
        - `BillPaymentEmailNotificationSent` -  identifies when an email notification\
        \ has been accepted by our SMS forwarder\n- `BillPaymentEmailNotificationFailure`\
        \ - identifies when an email notification has failed delivery\n\n\n#### SMS\
        \ Notification Path\n\nSMS originated from a CityPay pool of numbers and by\
        \ default only sends to country codes where the service is registered.\nSMSs\
        \ may contain a From field which is configured as part of you onboarding and\
        \ have a name associated to identify the service\norigin. For example if your\
        \ business is titled `Health Surgery Ltd` the SMS may be sent to originate\
        \ from `Health Surgery`. \n\nSMS is also configured for a \"polite mode\"\
        . This mode ensures that SMSs aren't sent in the middle of the night when\
        \ backend\nservices ordinarily run. SMSs will be queued until the time range\
        \ is deemed as polite. Normally this is between 8am and 9pm.\n\n| Field  \
        \  | Type     | Usage    | Description                                   \
        \                                                  |\n|----------|----------|----------|-------------------------------------------------------------------------------------------------|\n\
        | template | string   | Reserved | An optional template name to use a template\
        \ other than the default.                             |\n| to       | string\
        \   | Reserved | The phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
        \ format to send the message to. |\n\n#### Email Notification Paths\n\n| Field\
        \    | Type     | Usage    | Description                                 \
        \                                                    |\n|----------|----------|----------|-------------------------------------------------------------------------------------------------|\n\
        | template | string   | Reserved | An optional template name to use a template\
        \ other than the default.                             |\n| to       | string[]\
        \ | Required | An array of email addresses to be used for delivery. A maximum\
        \ of 5 addresses can be added.     |\n| cc       | string[] | Required | An\
        \ array of email addresses to be used for cc delivery. A maximum of 5 addresses\
        \ can be added.  |\n| bcc      | string[] | Required | An array of email addresses\
        \ to be used for bcc delivery. A maximum of 5 addresses can be added. |\n\
        | reply_to | string[] | Required | An array of email addresses to be used\
        \ for the Reply-To header of an email.     |\n\n\n### Field Guards\n\nTo ensure\
        \ that invoices are paid by the intended recipient, Paylink supports the addition\
        \ of Field Guards.\n\nA Field Guard is an intended field which is to be used\
        \ as a form of guarded authentication. More than 1 field can be\nrequested.\n\
        \n<img src=\"images/paylink-field-guards.png\" alt=\"Paylink Field Guards\"\
        \ width=\"50%\"/>\n\nTo determine the source value of the field, each field\
        \ name is searched in the order of\n\n- identifier\n- cardholder data such\
        \ as name\n- custom parameters\n- pass through data\n\nIf no field values\
        \ are found, the token request returns a D041 validation error.\n\n#### Authentication\
        \ and Validation\n\nWhen values are entered by the user, resultant comparisons\
        \ are performed by\n\n1. Transliteration of both the source value and entered\
        \ value. For example, names with accents (e.g. é will become e)\n2. Only Alphanumeric\
        \ values are retained any whitespace or special characters are ignored\n3.\
        \ Case is ignored\n\nShould all values match, the user is authenticated and\
        \ can continue to the payment form rendered by the Paylink server.\n\nOn successful\
        \ login, an event will be added to include that the access guard validated\
        \ access.\n\n#### Access-Key\n\nTo ensure that a user does not need to re-enter\
        \ these values multiple times, a cookie is pushed to the user’s\nbrowser with\
        \ an access-key digest value. This value will be presented to the server on\
        \ each refresh therefore\nallowing the guard to accept the call. Each value\
        \ is uniquely stored per merchant account and cannot be shared cross\nmerchant.\
        \ The lifetime of the cookie is set to 24 hours.\n\n#### Brute Force Prevention\n\
        \nTo prevent multiple calls hitting the server, attempting a brute force attack,\
        \ the login process\n\n1. is fronted by a contemporary web application firewall\n\
        2. creates an event for each token when access was denied\n3. should the number\
        \ of failed events breach more than 5 in 30 minutes, the token is locked for\
        \ an hour\n4. should the number of events breach more than 20 the token is\
        \ fully locked\n\n### Attachments\n\nAttachments can be included in the request\
        \ in 2 ways\n\n1. Via a data element direct in the request\n2. Via a URL upload\
        \ to a provided pre-signed URL\n\nThe decision of which option is dependent\
        \ on the size of the attachments. Should the attachment size be greater than\n\
        32kb a URL upload is required. Small attachments can be included in the JSON\
        \ request. This is to prevent our web\nfirewall from blocking your request\
        \ and to also ensure efficiency of larger file uploads.\n\nThere is a maximum\
        \ of 3 attachments that can be added to a request.\n\n```json\n    [{\n  \
        \    \"filename\": \"invoice1.pdf\",\n      \"mime-type\": \"application/pdf\"\
        \n    },{\n      \"filename\": \"invoice2.pdf\",\n      \"data\": \"b4sE64Enc0dEd...=\"\
        ,\n      \"mime-type\": \"application/pdf\"\n    }]\n```\n\n| Field     |\
        \ Type   | Usage    | Description                                        \
        \                                                                        \
        \                          |\n|-----------|--------|----------|------------------------------------------------------------------------------------------------------------------------------------------------------|\n\
        | filename  | string | Required | The name of the attachment normally taken\
        \ from the filename. You should not include the filename path as appropriate\
        \                                 |\n| data      | string | Optional | base64\
        \ encoding of the file if less than 32kb in size                         \
        \                                                                       |\n\
        | mime-type | string | Required | The mime type of the attachment as defined\
        \ in [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html). Currently only\
        \ `application/pdf` is supported |\n\n\n#### Attachment Result\n\nA result\
        \ of an attachment specifies whether the attachment was successfully added\
        \ or whether a further upload is requried\n\n| Field  | Type   | Usage   \
        \ | Description                                                          \
        \                                                                        \
        \     |\n|--------|--------|----------|---------------------------------------------------------------------------------------------------------------------------------------------------|\n\
        | result | string | Required | `OK` should the file have uploaded or `UPLOAD`\
        \ if the file is required to be uploaded.                                \
        \                            |\n| name   | string | Required | The filename\
        \ that was specified in the upload process                               \
        \                                                              |\n| url  \
        \  | string | Optional | Should an upload be required, this URL is available\
        \ for an upload to be issued. The URL is only available for uploads for 24\
        \ hours from creation. |\n"
      operationId: TokenCreateBillPaymentRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
          description: Response defining the result of the token request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Create Bill Payment Paylink Token
      tags:
      - Paylink Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /paylink/create:
    post:
      description: Creates a Paylink token from the CityPay API.
      operationId: TokenCreateRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
          description: Response defining the result of the token request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Create Paylink Token
      tags:
      - Paylink Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /paylink/token/changes:
    post:
      description: Allows for the changes to a pre-existing token.
      operationId: TokenChangesRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkTokenStatusChangeRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkTokenStatusChangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatusChangeResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatusChangeResponse'
          description: Changes from tokens actioned after the pivotal date provided
            in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Paylink Token Audit
      tags:
      - Paylink Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/adjustment:
    post:
      description: "Adjusts a TokenRequest's amount value when for instance \n\n1.\
        \ a Token is created and the shopping cart is updated\n2. an invoice is adjusted\
        \ either due to part payment or due to increased incurred costs.\n"
      operationId: TokenAdjustmentRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkAdjustmentRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkAdjustmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Response defining the result of the token request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Paylink Token Adjustment
      tags:
      - Paylink Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/cancel:
    put:
      description: Marks a Paylink Token as cancelled. This cancels the Token for
        any future request for processing.
      operationId: TokenCancelRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the token was marked as cancelled.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Cancel a Paylink Token
      tags:
      - Paylink Api
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/close:
    put:
      description: |
        Marks a Paylink Token as closed. This closes the Token for any future action and the Token will not appear in any status
        request calls.
      operationId: TokenCloseRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the token was marked for closure.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Close Paylink Token
      tags:
      - Paylink Api
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/purge-attachments:
    put:
      description: Purges any attachments for a token for GDPR or DP reasons.
      operationId: TokenPurgeAttachmentsRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the attachments either did not exist or were
            purged.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Purges any attachments for a Paylink Token
      tags:
      - Paylink Api
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/reconciled:
    put:
      description: Marks a Paylink Token as reconciled when reconciliation is performed
        on the merchant's side.
      operationId: TokenReconciledRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the token was marked as reconciled.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Reconcile Paylink Token
      tags:
      - Paylink Api
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/reopen:
    put:
      description: Allows for a Paylink Token to be reopened if a Token has been previously
        closed and payment has not yet been made.
      operationId: TokenReopenRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the token was reopened.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Reopen Paylink Token
      tags:
      - Paylink Api
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/resend-notification:
    post:
      description: Resend a notification for Paylink Token.
      operationId: TokenResendNotificationRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkResendNotificationRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkResendNotificationRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the notification was sent.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Resend a notification for Paylink Token
      tags:
      - Paylink Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /paylink/{token}/status:
    get:
      description: Obtains the full status of a given Paylink Token.
      operationId: TokenStatusRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatus'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatus'
          description: The current status of the token.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Paylink Token Status
      tags:
      - Paylink Api
      x-accepts:
      - application/json
      - text/xml
  /v6/account-exists/{accountid}:
    get:
      description: |
        Checks that an account exists and is active by providing the account id as a url parameter.
      operationId: AccountExistsRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exists'
            text/xml:
              schema:
                $ref: '#/components/schemas/Exists'
          description: "A response model determining whether the account exists, if\
            \ exists is true, a last modified date of the account is also provided."
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Exists
      tags:
      - Card Holder Account Api
      x-accepts:
      - application/json
      - text/xml
  /v6/account/create:
    post:
      description: Creates a new card holder account and initialises the account ready
        for adding cards.
      operationId: AccountCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
          text/xml:
            schema:
              $ref: '#/components/schemas/AccountCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: Provides an initialised account.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Create
      tags:
      - Card Holder Account Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/account/{accountid}:
    delete:
      description: |
        Allows for the deletion of an account. The account will marked for deletion and subsequent purging. No further
        transactions will be alowed to be processed or actioned against this account.
      operationId: AccountDeleteRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: An acknowledgment code of `001` that the card holder account
            has been marked for deletion.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Deletion
      tags:
      - Card Holder Account Api
      x-accepts:
      - application/json
      - text/xml
    get:
      description: "Allows for the retrieval of a card holder account for the given\
        \ `id`. Should duplicate accounts exist\nfor the same `id`, the first account\
        \ created with that `id` will be returned.\n\nThe account can be used for\
        \ tokenisation processing by listing all cards assigned to the account.\n\
        The returned cards will include all `active`, `inactive` and `expired` cards.\
        \ This can be used to \nenable a card holder to view their wallet and make\
        \ constructive choices on which card to use.\n"
      operationId: AccountRetrieveRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: A card holder account that matches the account id provided
            in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Retrieval
      tags:
      - Card Holder Account Api
      x-accepts:
      - application/json
      - text/xml
  /v6/account/{accountid}/card/{cardId}:
    delete:
      description: |
        Deletes a card from the account. The card will be marked for deletion before a subsequent
        purge will clear the card permanently.
      operationId: AccountCardDeleteRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the card that is presented by a call to retrieve a
          card holder account.
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      - description: Requests that the item is forced immediately.
        explode: true
        in: query
        name: force
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Acknowledges the card has been requested for deletion. A response
            code of `001` is returned if the account is available for deletion otherwise
            an error code is returned.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Card Deletion
      tags:
      - Card Holder Account Api
      x-accepts:
      - application/json
      - text/xml
  /v6/account/{accountid}/card/{cardId}/status:
    post:
      description: "Updates the status of a card for processing. The following values\
        \ are available\n\n| Status | Description | \n|--------|-------------|\n|\
        \ Active | The card is active for processing and can be used for charging\
        \ against with a valid token |\n| Inactive | The card is inactive for processing\
        \ and cannot be used for processing, it will require reactivation before being\
        \ used to charge |\n| Expired | The card has expired either due to the expiry\
        \ date no longer being valid or due to a replacement card being issued |\n"
      operationId: AccountCardStatusRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the card that is presented by a call to retrieve a
          card holder account.
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/CardStatus'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: "Acknowledges the card status has changed, returning a response\
            \ code of `001` for a valid change or `000` for a non valid change."
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Card Status
      tags:
      - Card Holder Account Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/account/{accountid}/contact:
    post:
      description: Allows for the ability to change the contact details for an account.
      operationId: AccountChangeContactRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          text/xml:
            schema:
              $ref: '#/components/schemas/ContactDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: A revised account with the new details set.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Contact Details Update
      tags:
      - Card Holder Account Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/account/{accountid}/register:
    post:
      description: "Allows for a card to be registered for the account. The card will\
        \ be added for future \nprocessing and will be available as a tokenised value\
        \ for future processing.\n\nThe card will be validated for\n\n0. Being a valid\
        \ card number (luhn check)\n0. Having a valid expiry date\n0. Being a valid\
        \ bin value.\n"
      operationId: AccountCardRegisterRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCard'
          text/xml:
            schema:
              $ref: '#/components/schemas/RegisterCard'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: A successfully registered card provides a reload of the account
            including the new card.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Card Registration
      tags:
      - Card Holder Account Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/account/{accountid}/status:
    post:
      description: |
        Updates the status of an account. An account can have the following statuses applied

        | Status | Description |
        |--------|-------------|
        | Active | The account is active for processing |
        | Disabled | The account has been disabled and cannot be used for processing. The account will require reactivation to continue procesing |
      operationId: AccountStatusRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/AccountStatus'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: An acknowledgment that the card holder account status has been
            updated.</br></br>A response code of `001` is returned if the request
            was accepted or no change required.</br></br>A response code of `000`
            is returned if the request contains invalid data.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Status
      tags:
      - Card Holder Account Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/acl/check:
    post:
      description: |
        Allows the checking of IP addresses against configured ACLs. Requests can perform a lookup of addresses in subnets and
        services such as AWS or Azure to check that those addresses are listed in the ACLs.
      operationId: AclCheckRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AclCheckRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/AclCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclCheckResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AclCheckResponseModel'
          description: Response to the ACL Check request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: ACL Check Request
      tags:
      - Operational Functions Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/authorise:
    post:
      description: Performs a request for authorisation for a card payment request.
      operationId: AuthorisationRequest
      requestBody:
        content:
          application/json:
            examples:
              example1:
                externalValue: AuthorisationRequest-example1.json
                summary: Basic capture call for a merchant with a given identifier
            schema:
              $ref: '#/components/schemas/AuthRequest'
          text/xml:
            examples:
              example1:
                externalValue: AuthorisationRequest-example1.xml
                summary: Basic capture call for a merchant with a given identifier
            schema:
              $ref: '#/components/schemas/AuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
            text/xml:
              schema:
                $ref: '#/components/schemas/Decision'
          description: A decision made by the result of processing.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Authorisation
      tags:
      - Authorisation and Payment Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/batch/process:
    post:
      description: |
        A batch process request is used to start the batch process workflow by uploading batch
        data and initialising a new batch for processing. Once validated the batch will be queued
        for processing and further updates can be received by a subsequent call to retrieve the batch
        status.
      operationId: BatchProcessRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessBatchRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProcessBatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessBatchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProcessBatchResponse'
          description: Request to process a batch provided in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Batch Process Request
      tags:
      - Batch Processing Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/batch/retrieve:
    post:
      description: Obtains a batch and installment (BIS) report for a given batch
        id.
      operationId: BatchRetrieveRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReportRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/BatchReportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchReportResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/BatchReportResponseModel'
          description: The report for a given batch.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Batch Retrieve Request
      tags:
      - Batch Processing Api
      x-content-type: application/json
      x-accepts:
      - application/json
      - text/xml
  /v6/batch/status:
    post:
      description: The operation is used to retrieve the status of a batch process.
      operationId: CheckBatchStatusRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckBatchStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/CheckBatchStatus'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBatchStatusResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/CheckBatchStatusResponse'
          description: The status of batches provided in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
[...]
