openapi: 3.0.0
info:
  contact:
    email: support@citypay.com
    name: CityPay Support
    url: https://citypay.com/customer-centre/technical-support.html
  description: "\nThis CityPay API is a HTTP RESTful payment API used for direct server\
    \ to server transactional processing. It\nprovides a number of payment mechanisms\
    \ including: Internet, MOTO, Continuous Authority transaction processing,\n3-D\
    \ Secure decision handling using RFA Secure, Authorisation, Refunding, Pre-Authorisation,\
    \ Cancellation/Voids and\nCompletion processing. The API is also capable of tokinsed\
    \ payments using Card Holder Accounts.\n\n## Compliance and Security\nYour application\
    \ will need to adhere to PCI-DSS standards to operate safely and to meet requirements\
    \ set out by \nVisa and MasterCard and the PCI Security Standards Council. These\
    \ include\n\n* Data must be collected using TLS version 1.2 using [strong cryptography](#enabled-tls-ciphers).\
    \ We will not accept calls to our API at\n  lower grade encryption levels. We\
    \ regularly scan our TLS endpoints for vulnerabilities and perform TLS assessments\n\
    \  as part of our compliance program.\n* The application must not store sensitive\
    \ card holder data (CHD) such as the card security code (CSC) or\n  primary access\
    \ number (PAN)\n* The application must not display the full card number on receipts,\
    \ it is recommended to mask the PAN\n  and show the last 4 digits. The API will\
    \ return this for you for ease of receipt creation\n* If you are developing a\
    \ website, you will be required to perform regular scans on the network where\
    \ you host the\n  application to meet your compliance obligations\n* You will\
    \ be required to be PCI Compliant and the application must adhere to the security\
    \ standard. Further information\n  is available from [https://www.pcisecuritystandards.org/](https://www.pcisecuritystandards.org/)\n\
    * The API verifies that the request is for a valid account and originates from\
    \ a trusted source using the remote IP\n  address. Our application firewalls analyse\
    \ data that may be an attempt to break a large number of security common\n  security\
    \ vulnerabilities.\n"
  title: CityPay Payment API
  version: 6.4.7
servers:
- description: Production processing endpoint
  url: https://api.citypay.com
- description: Testing service returning test results for all transactions
  url: https://sandbox.citypay.com
tags:
- description: "."
  name: Authorisation and Payment Api
- description: "Batch processing uses the Batch and Instalment Service (BIS) which\
    \ allows for transaction processing against cardholder \naccounts using a dynamic\
    \ batch file. For merchants who process on schedules and dynamic amounts, the\
    \ service allows for \nthe presentation of cardholder account references and transaction\
    \ requirements to run as a scheduled batch.\n"
  name: Batch Processing Api
- description: "A cardholder account models a cardholder and can register 1 or more\
    \ cards for tokenised charging. \n\nThe account offers a credential on file option\
    \ to the CityPay gateway allowing for both cardholder initiated and \nmerchant\
    \ initiated transaction processing.\n\nThis can include unscheduled or scheduled\
    \ transactions that can be requested through this API and include batch \nprocessing\
    \ options.\n"
  name: Card Holder Account Api
- description: |
    The Direct Post Method for e-commerce payment is generally used by merchants that require more control over their
    payment form “look and feel” and can understand and implement the extra PCI DSS security controls that are required to
    protect their systems.

    The Direct Post Method uses the merchant’s website to generate the shopping cart and payment web pages. The merchant’s
    payment form, loaded in the customer’s browser, sends the cardholder data directly to CityPay’s API, ensuring cardholder
    data is not stored, processed, or transmitted via the merchant systems. The payment form, however, is provided by the
    merchant. The merchant’s systems are therefore in scope for additional PCI DSS controls, which are necessary to protect
    the merchant website against malicious individuals changing the form and capturing cardholder data.

    ### Direct Post Flow

    #### Simple Authorisation Flow

    The merchant’s website creates the payment page.

    1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
       payment form.
    2. CityPay receives the cardholder data and sends it for online authorisation, handling any ThreeDSecure authorisation
       challenges
    3. The merchant receives a HTTP 303 redirect, containing the result of the transaction as query parameters

    <img src="../../images/direct-post-flow.png" width="600" />

    #### Tokenisation Authorisation Flow

    The merchant’s website creates the payment page.

    1. The customer’s browser displays the payment page and posts the cardholder data directly to CityPay as a url-encoded
       payment form.
    2. CityPay receives the cardholder data and processes any ThreeDSecure authorisation and challenges.
    3. The merchant receives a HTTP `303` redirect containing the card details tokenised for consequential processing
    4. Once final confirmation is agreed at checkout, the generated token is forward to CityPay for realtime authorisation.
       This may by using HTTP redirects in a direct manner, or via an api level call

    #### Handling Redirects

    The direct post method uses HTTP `303` redirects to return data to your system. A `303` redirect differs to conventional 301
    or `302` redirects by telling the browser to not resend data if refresh is pressed.

    Payments should be developed to cater for failure. Transactions may not complete authorisation at the challenge stage or
    decline either due to insufficient funds or transient network conditions. To ensure correct payment flow, the direct
    post API requires

    1. a `redirectSuccess` url. This is used to forward the result of authorisation.
    2. a `redirectFailure` url. This is used to forward any errors that are due to invalid requests or payment failures.

    #### Domain Keys

    To allow for processing of transactions in a direct manner, CityPay provide domain keys. This value is provided on the
    initial direct post call and must be run on a pre-registered host. Our validation processes will check the `Origin` or
    `Referer`   HTTP headers to ensure that the domain keys are valid. A domain key can be registered for 1 or more domains.
  name: Direct Post Api
- description: "."
  name: Operational Functions Api
- description: |
    CityPay Paylink makes online e-commerce easier to implement by handling the card payment process directly with the cardholder's browser and CityPay's payment processing servers, allowing you to concentrate on your business whilst allowing us to manage the payment process.

    0. Simplified payment solutions.
    0. payment processing is handled by our secure web servers adding security and confidence to your shoppers.
    0. 3D-Secure authentication is available within the application without any difficult MPI integration, allowing for immediate Verified by Visa and MasterCard SecureCode processing.
    0. customisation may be performed on the secure payment form.
    0. significantly reduced technical and financial overheads associated with software implementation and PCI compliance.
    1. reduced time-to-market.

    The CityPay API offers embedded end-point calls to Paylink offering advanced features of generated tokens.

    For further information on Paylink see [Paylink Online Documentation](https://citypay.github.io/api-docs/paylink).
  name: Paylink Api
paths:
  /direct/auth:
    post:
      description: |
        Used to initiate a direct post request transaction flow.

        <pre class="inline-code language-bash">
        <code>
        curl https://api.citypay.com/v6/direct?cp-domain-key=n834ytqp84y... \
         -d "amount=7500&identifier=example_trans&cardnumber=4000000000000002&expmonth=9&expyear=2028&bill_to_postcode=L1+7ZW
        </code>
        </pre>.
      operationId: DirectPostAuthRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: Redirect. A result of a successful tokenisation or authorisation
            process, redirecting to the success URL.
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Redirect. A result of a non-successful tokenisation or authorisation
            process, redirecting to the failure URL.
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      security:
      - cp-api-key: []
      - cp-domain-key: []
      summary: Direct Post Auth Request
      tags:
      - Direct Post Api
      x-contentType: application/json
      x-accepts: application/json
  /direct/cres/auth/{uuid}:
    post:
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      operationId: DirectCResAuthRequest
      parameters:
      - description: An identifier used to track the CReq/CRes cycle.
        explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CResDirect'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: Redirect. A result of a successful tokenisation or authorisation
            process, redirecting to the success URL.
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Redirect. A result of a non-successful tokenisation or authorisation
            process, redirecting to the failure URL.
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      summary: Handles a CRes response from ACS, returning back the result of authorisation
      tags:
      - Direct Post Api
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /direct/cres/tokenise/{uuid}:
    post:
      description: |
        Used to post from an ACS during a ThreeDSecure direct flow process. The endpoint requires a valid `threeDSSessionData`
        value which defines the unique transaction through its workflow. This endpoint may be used by merchants wishing to
        perform a `Direct Post` integration who wish to handle the challenge flow themselves.
      operationId: DirectCResTokeniseRequest
      parameters:
      - description: An identifier used to track the CReq/CRes cycle.
        explode: false
        in: path
        name: uuid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CResDirect'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenisationResponseModel'
            application/xml:
              schema:
                $ref: '#/components/schemas/TokenisationResponseModel'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/TokenisationResponseModel'
          description: Redirect. A result of a successful tokenisation or authorisation
            process, redirecting to the success URL.
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Redirect. A result of a non-successful tokenisation or authorisation
            process, redirecting to the failure URL.
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      summary: Handles a CRes response from ACS, returning back a token for future
        authorisation
      tags:
      - Direct Post Api
      x-contentType: application/x-www-form-urlencoded
      x-accepts: application/json
  /direct/token:
    post:
      description: |
        Perform a request for authorisation for a previously generated token. This flow will return an authorisation
        response stating that the transaction was approved or declined.
      operationId: TokenRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DirectTokenAuthRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DirectTokenAuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of an authorisation process if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: Redirect. A result of a successful tokenisation or authorisation
            process, redirecting to the success URL.
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Redirect. A result of a non-successful tokenisation or authorisation
            process, redirecting to the failure URL.
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
      security:
      - cp-api-key: []
      - cp-domain-key: []
      summary: Direct Post Token Request
      tags:
      - Direct Post Api
      x-contentType: application/json
      x-accepts: application/json
  /direct/tokenise:
    post:
      description: |
        Used to initiate a direct post request transaction flow.

        <pre class="inline-code language-bash">
        <code>
        curl https://api.citypay.com/v6/direct?cp-domain-key=n834ytqp84y... \
         -d "amount=7500&identifier=example_trans&cardnumber=4000000000000002&expmonth=9&expyear=2028&bill_to_postcode=L1+7ZW
        </code>
        </pre>.
      operationId: DirectPostTokeniseRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DirectPostRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: A result of a successful tokenisation or authorisation process
            if called via an XHR method.
        "303":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/AuthResponse'
          description: Redirect. A result of a successful tokenisation or authorisation
            process, redirecting to the success URL.
        "307":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
          description: Redirect. A result of a non-successful tokenisation or authorisation
            process, redirecting to the failure URL.
        "401":
          description: Unauthorized. No domain key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The domain key was provided and understood but is
            either incorrect or does not have permission to access the account provided
            on the request.
        "406":
          description: Not Acceptable. Should the incoming data not be validly determined.
        "412":
          content:
            application/x-www-form-urlencoded:
              schema:
                $ref: '#/components/schemas/Error'
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad Request. Should the incoming data not be validly determined
            and an error code results.
        "500":
          description: Server Error. Server Error. The server was unable to complete
            the request.
      security:
      - cp-api-key: []
      - cp-domain-key: []
      summary: Direct Post Tokenise Request
      tags:
      - Direct Post Api
      x-contentType: application/json
      x-accepts: application/json
  /dk/check:
    post:
      description: "Checks the contents of a `domain key`. Can be used for operational\
        \ processes to ensure that the properties of a \ndomain key meet their expectations.\n"
      operationId: DomainKeyCheckRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainKeyCheckRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainKeyCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
          description: A checked domain key.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Domain Key Check Request
      tags:
      - Operational Functions Api
      x-contentType: application/json
      x-accepts: application/json
  /dk/gen:
    post:
      description: |
        Generates a domain key based on the permissions of the calling `api-key`. Domain keys can be used in _Direct Post_ and
        `XHR` calls to the API services.
      operationId: DomainKeyGenRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainKeyRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainKeyRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainKeyResponse'
          description: A generated domain key.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Domain Key Generation Request
      tags:
      - Operational Functions Api
      x-contentType: application/json
      x-accepts: application/json
  /paylink/bill-payment:
    post:
      description: "CityPay Paylink supports invoice and bill payment services by\
        \ allowing merchants to raise an invoice in their systems and\nassociate the\
        \ invoice with a Paylink checkout token. CityPay will co-ordinate the checkout\
        \ flow in relationship with\nyour customer. Our bill payment solution may\
        \ be used to streamline the payment flow with cardholders to allow your\n\
        invoice to be paid promptly and via multiple payment channels such as Card\
        \ Payment, Apple Pay or Google Pay.\n\nThe bill payment service allows\n\n\
        1. setting up notification paths to an end customer, such as SMS or Email\n\
        2. enabling attachments to be included with Paylink tokens\n3. produce chaser\
        \ notifications for unpaid invoices\n4. provide callbacks for notification\
        \ of the payment of an invoice\n5. support part payments against an invoice\n\
        6. support of field guards to protect the payment screen\n7. support of status\
        \ reporting on tokens\n8. URL short codes for SMS notifications\n\n<img src=\"\
        ../images/merchant-BPS-workflow.png\" alt=\"Paylink BPSv2 Overview\" width=\"\
        50%\"/> \n\n\n### Notification Paths\n\nNotification paths can be provided\
        \ which identify the channels for communication of the invoice availability.\n\
        Up to 3 notification paths may be provided per request.\n\nEach notification\
        \ uses a template to generate the body of the message. This allows for variable\
        \ text to be sent out and\ncustomised for each call.\n\nSMS messages use URL\
        \ Short Codes (USC) as a payment link to the invoice payment page. This allows\
        \ for a standard payment\nURL to be shortened for optimised usage in SMS.\
        \ For instance a URL of `https://checkout.citypay.com/PL1234/s348yb8yna4a48n2f8nq2f3msgyng-psn348ynaw8ynaw/en`\n\
        becomes `citypay.com/Za48na3x`. Each USC is unique however it is a requirement\
        \ that each USC generated is protected\nwith Field Guards to ensure that sensitive\
        \ data (such as customer contact details and GDPR) is protected.\n\nTo send\
        \ a notification path, append a `notification-path` property to the request.\n\
        \n```json\n {\n  \"notification-path\": [\n    {\n      \"channel\": \"sms\"\
        ,\n      \"to\": \"+441534884000\"\n    },\n    {\n      \"channel\": \"email\"\
        ,\n      \"to\": [\"help-desk@citypay.com\"],\n      \"cc\": [\"third-party@citypay.com\"\
        ],\n      \"reply\": [\"help@my-company.com\"]\n    }\n  ]\n}\n\n```\n\nNotification\
        \ paths trigger a number of events which are stored as part of the timeline\
        \ of events of a Paylink token\n\n- `BillPaymentSmsNotificationQueued` - identifies\
        \ when an SMS notification has been queued for delivery\n- `BillPaymentSmsNotificationSent`\
        \ - identifies when an SMS notification has been sent to the upstream network\n\
        - `BillPaymentSmsNotificationDelivered` - identifies when an SMS notification\
        \ has been delivered as notified by the upstream network\n- `BillPaymentSmsNotificationUndelivered`\
        \ - identifies when an SMS notification has undelivered notification is provided\
        \ by the upstream network\n- `BillPaymentSmsNotificationFailure` - identifies\
        \ when an SMS notification has failed\n- `BillPaymentEmailNotificationQueued`\
        \ -  identifies when an email notification has been queued for delivery\n\
        - `BillPaymentEmailNotificationSent` -  identifies when an email notification\
        \ has been accepted by our SMS forwarder\n- `BillPaymentEmailNotificationFailure`\
        \ - identifies when an email notification has failed delivery\n\n\n#### SMS\
        \ Notification Path\n\nSMS originated from a CityPay pool of numbers and by\
        \ default only sends to country codes where the service is registered.\nSMSs\
        \ may contain a From field which is configured as part of you onboarding and\
        \ have a name associated to identify the service\norigin. For example if your\
        \ business is titled `Health Surgery Ltd` the SMS may be sent to originate\
        \ from `Health Surgery`. \n\nSMS is also configured for a \"polite mode\"\
        . This mode ensures that SMSs aren't sent in the middle of the night when\
        \ backend\nservices ordinarily run. SMSs will be queued until the time range\
        \ is deemed as polite. Normally this is between 8am and 9pm.\n\n| Field  \
        \  | Type     | Usage    | Description                                   \
        \                                                  |\n|----------|----------|----------|-------------------------------------------------------------------------------------------------|\n\
        | template | string   | Reserved | An optional template name to use a template\
        \ other than the default.                             |\n| to       | string\
        \   | Reserved | The phone number in [E.164](https://en.wikipedia.org/wiki/E.164)\
        \ format to send the message to. |\n\n#### Email Notification Paths\n\n| Field\
        \    | Type     | Usage    | Description                                 \
        \                                                    |\n|----------|----------|----------|-------------------------------------------------------------------------------------------------|\n\
        | template | string   | Reserved | An optional template name to use a template\
        \ other than the default.                             |\n| to       | string[]\
        \ | Required | An array of email addresses to be used for delivery. A maximum\
        \ of 5 addresses can be added.     |\n| cc       | string[] | Required | An\
        \ array of email addresses to be used for cc delivery. A maximum of 5 addresses\
        \ can be added.  |\n| bcc      | string[] | Required | An array of email addresses\
        \ to be used for bcc delivery. A maximum of 5 addresses can be added. |\n\
        | reply_to | string[] | Required | An array of email addresses to be used\
        \ for the Reply-To header of an email.     |\n\n\n### Field Guards\n\nTo ensure\
        \ that invoices are paid by the intended recipient, Paylink supports the addition\
        \ of Field Guards.\n\nA Field Guard is an intended field which is to be used\
        \ as a form of guarded authentication. More than 1 field can be\nrequested.\n\
        \n<img src=\"../images/paylink-field-guards.png\" alt=\"Paylink Field Guards\"\
        \ width=\"50%\"/>\n\nTo determine the source value of the field, each field\
        \ name is searched in the order of\n\n- identifier\n- cardholder data such\
        \ as name\n- custom parameters\n- pass through data\n\nIf no field values\
        \ are found, the token request returns a D041 validation error.\n\n#### Authentication\
        \ and Validation\n\nWhen values are entered by the user, resultant comparisons\
        \ are performed by\n\n1. Transliteration of both the source value and entered\
        \ value. For example, names with accents (e.g. é will become e)\n2. Only Alphanumeric\
        \ values are retained any whitespace or special characters are ignored\n3.\
        \ Case is ignored\n\nShould all values match, the user is authenticated and\
        \ can continue to the payment form rendered by the Paylink server.\n\nOn successful\
        \ login, an event will be added to include that the access guard validated\
        \ access.\n\n#### Access-Key\n\nTo ensure that a user does not need to re-enter\
        \ these values multiple times, a cookie is pushed to the user’s\nbrowser with\
        \ an access-key digest value. This value will be presented to the server on\
        \ each refresh therefore\nallowing the guard to accept the call. Each value\
        \ is uniquely stored per merchant account and cannot be shared cross\nmerchant.\
        \ The lifetime of the cookie is set to 24 hours.\n\n#### Brute Force Prevention\n\
        \nTo prevent multiple calls hitting the server, attempting a brute force attack,\
        \ the login process\n\n1. is fronted by a contemporary web application firewall\n\
        2. creates an event for each token when access was denied\n3. should the number\
        \ of failed events breach more than 5 in 30 minutes, the token is locked for\
        \ an hour\n4. should the number of events breach more than 20 the token is\
        \ fully locked\n\n### Attachments\n\nAttachments can be included in the request\
        \ in 2 ways\n\n1. Via a data element direct in the request\n2. Via a URL upload\
        \ to a provided pre-signed URL\n\nThe decision of which option is dependent\
        \ on the size of the attachments. Should the attachment size be greater than\n\
        32kb a URL upload is required. Small attachments can be included in the JSON\
        \ request. This is to prevent our web\nfirewall from blocking your request\
        \ and to also ensure efficiency of larger file uploads.\n\nThere is a maximum\
        \ of 3 attachments that can be added to a request.\n\n```json\n    [{\n  \
        \    \"filename\": \"invoice1.pdf\",\n      \"mime-type\": \"application/pdf\"\
        \n    },{\n      \"filename\": \"invoice2.pdf\",\n      \"data\": \"b4sE64Enc0dEd...=\"\
        ,\n      \"mime-type\": \"application/pdf\"\n    }]\n```\n\n| Field     |\
        \ Type   | Usage    | Description                                        \
        \                                                                        \
        \                          |\n|-----------|--------|----------|------------------------------------------------------------------------------------------------------------------------------------------------------|\n\
        | filename  | string | Required | The name of the attachment normally taken\
        \ from the filename. You should not include the filename path as appropriate\
        \                                 |\n| data      | string | Optional | base64\
        \ encoding of the file if less than 32kb in size                         \
        \                                                                       |\n\
        | mime-type | string | Required | The mime type of the attachment as defined\
        \ in [RFC 9110](https://www.rfc-editor.org/rfc/rfc9110.html). Currently only\
        \ `application/pdf` is supported |\n\n\n#### Attachment Result\n\nA result\
        \ of an attachment specifies whether the attachment was successfully added\
        \ or whether a further upload is requried\n\n| Field  | Type   | Usage   \
        \ | Description                                                          \
        \                                                                        \
        \     |\n|--------|--------|----------|---------------------------------------------------------------------------------------------------------------------------------------------------|\n\
        | result | string | Required | `OK` should the file have uploaded or `UPLOAD`\
        \ if the file is required to be uploaded.                                \
        \                            |\n| name   | string | Required | The filename\
        \ that was specified in the upload process                               \
        \                                                              |\n| url  \
        \  | string | Optional | Should an upload be required, this URL is available\
        \ for an upload to be issued. The URL is only available for uploads for 24\
        \ hours from creation. |\n"
      operationId: TokenCreateBillPaymentRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkBillPaymentTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
          description: Response defining the result of the token request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Create Bill Payment Paylink Token
      tags:
      - Paylink Api
      x-contentType: application/json
      x-accepts: application/json
  /paylink/create:
    post:
      description: Creates a Paylink token from the CityPay API.
      operationId: TokenCreateRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkTokenRequestModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenCreated'
          description: Response defining the result of the token request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Create Paylink Token
      tags:
      - Paylink Api
      x-contentType: application/json
      x-accepts: application/json
  /paylink/token/changes:
    post:
      description: "Obtains any changes on Paylink Tokens since a given date and time.\
        \ This allows for a merchant to regularly check on \nactivity over a collection\
        \ of Paylink Tokens and to check on any events that may have occurred. If\
        \ a Token is `Closed` \nit is not considered.\n\nOnly statuses that have been\
        \ appended since the given date and time is returned.\n"
      operationId: TokenStatusChangesRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkTokenStatusChangeRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkTokenStatusChangeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatusChangeResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatusChangeResponse'
          description: Changes from tokens actioned after the pivotal date provided
            in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Paylink Token Audit
      tags:
      - Paylink Api
      x-contentType: application/json
      x-accepts: application/json
  /paylink/{token}/adjustment:
    post:
      description: "Adjusts a TokenRequest's amount value when for instance \n\n1.\
        \ a Token is created and the shopping cart is updated\n2. an invoice is adjusted\
        \ either due to part payment or due to increased incurred costs.\n"
      operationId: TokenAdjustmentRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaylinkAdjustmentRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/PaylinkAdjustmentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Response defining the result of the token request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Paylink Token Adjustment
      tags:
      - Paylink Api
      x-contentType: application/json
      x-accepts: application/json
  /paylink/{token}/close:
    put:
      description: |
        Marks a Paylink Token as closed. This closes the Token for any future action and the Token will not appear in any status
        request calls.
      operationId: TokenCloseRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the token was marked for closure.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Close Paylink Token
      tags:
      - Paylink Api
      x-accepts: application/json
  /paylink/{token}/reconciled:
    put:
      description: Marks a Paylink Token as reconciled when reconcilation is performed
        on the merchant's side.
      operationId: TokenReconciledRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the token was marked as reconciled.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Reconcile Paylink Token
      tags:
      - Paylink Api
      x-accepts: application/json
  /paylink/{token}/reopen:
    put:
      description: Allows for a Paylink Token to be reopened if a Token has been previously
        closed and payment has not yet been made.
      operationId: TokenReopenRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Confirms that the token was reopened.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Reopen Paylink Token
      tags:
      - Paylink Api
      x-accepts: application/json
  /paylink/{token}/status:
    get:
      description: Obtains the full status of a given Paylink Token.
      operationId: TokenStatusRequest
      parameters:
      - description: The token returned by the create token process.
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatus'
            text/xml:
              schema:
                $ref: '#/components/schemas/PaylinkTokenStatus'
          description: The current status of the token.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Paylink Token Status
      tags:
      - Paylink Api
      x-accepts: application/json
  /v6/account-exists/{accountid}:
    get:
      description: |
        Checks that an account exists and is active by providing the account id as a url parameter.
      operationId: AccountExistsRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Exists'
            text/xml:
              schema:
                $ref: '#/components/schemas/Exists'
          description: A response model determining whether the account exists, if
            exists is true, a last modified date of the account is also provided.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Exists
      tags:
      - Card Holder Account Api
      x-accepts: application/json
  /v6/account/create:
    post:
      description: Creates a new card holder account and initialises the account ready
        for adding cards.
      operationId: AccountCreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCreate'
          text/xml:
            schema:
              $ref: '#/components/schemas/AccountCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: Provides an initialised account.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Create
      tags:
      - Card Holder Account Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/account/{accountid}:
    delete:
      description: |
        Allows for the deletion of an account. The account will marked for deletion and subsequent purging. No further
        transactions will be alowed to be processed or actioned against this account.
      operationId: AccountDeleteRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: An acknowledgment code of `001` that the card holder account
            has been marked for deletion.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Deletion
      tags:
      - Card Holder Account Api
      x-accepts: application/json
    get:
      description: "Allows for the retrieval of a card holder account for the given\
        \ `id`. Should duplicate accounts exist\nfor the same `id`, the first account\
        \ created with that `id` will be returned.\n\nThe account can be used for\
        \ tokenisation processing by listing all cards assigned to the account.\n\
        The returned cards will include all `active`, `inactive` and `expired` cards.\
        \ This can be used to \nenable a card holder to view their wallet and make\
        \ constructive choices on which card to use.\n"
      operationId: AccountRetrieveRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: A card holder account that matches the account id provided
            in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Retrieval
      tags:
      - Card Holder Account Api
      x-accepts: application/json
  /v6/account/{accountid}/card/{cardId}:
    delete:
      description: |
        Deletes a card from the account. The card will be marked for deletion before a subsequent
        purge will clear the card permanently.
      operationId: AccountCardDeleteRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the card that is presented by a call to retrieve a
          card holder account.
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Acknowledges the card has been requested for deletion. A response
            code of `001` is returned if the account is available for deletion otherwise
            an error code is returned.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Card Deletion
      tags:
      - Card Holder Account Api
      x-accepts: application/json
  /v6/account/{accountid}/card/{cardId}/status:
    post:
      description: "Updates the status of a card for processing. The following values\
        \ are available\n\n| Status | Description | \n|--------|-------------|\n|\
        \ Active | The card is active for processing and can be used for charging\
        \ against with a valid token |\n| Inactive | The card is inactive for processing\
        \ and cannot be used for processing, it will require reactivation before being\
        \ used to charge |\n| Expired | The card has expired either due to the expiry\
        \ date no longer being valid or due to a replacement card being issued |\n"
      operationId: AccountCardStatusRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      - description: The id of the card that is presented by a call to retrieve a
          card holder account.
        explode: false
        in: path
        name: cardId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/CardStatus'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: Acknowledges the card status has changed, returning a response
            code of `001` for a valid change or `000` for a non valid change.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Card Status
      tags:
      - Card Holder Account Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/account/{accountid}/contact:
    post:
      description: Allows for the ability to change the contact details for an account.
      operationId: AccountChangeContactRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContactDetails'
          text/xml:
            schema:
              $ref: '#/components/schemas/ContactDetails'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: A revised account with the new details set.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Contact Details Update
      tags:
      - Card Holder Account Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/account/{accountid}/register:
    post:
      description: "Allows for a card to be registered for the account. The card will\
        \ be added for future \nprocessing and will be available as a tokenised value\
        \ for future processing.\n\nThe card will be validated for\n\n0. Being a valid\
        \ card number (luhn check)\n0. Having a valid expiry date\n0. Being a valid\
        \ bin value.\n"
      operationId: AccountCardRegisterRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCard'
          text/xml:
            schema:
              $ref: '#/components/schemas/RegisterCard'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
            text/xml:
              schema:
                $ref: '#/components/schemas/CardHolderAccount'
          description: A successfully registered card provides a reload of the account
            including the new card.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Card Registration
      tags:
      - Card Holder Account Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/account/{accountid}/status:
    post:
      description: |
        Updates the status of an account. An account can have the following statuses applied

        | Status | Description |
        |--------|-------------|
        | Active | The account is active for processing |
        | Disabled | The account has been disabled and cannot be used for processing. The account will require reactivation to continue procesing |
      operationId: AccountStatusRequest
      parameters:
      - description: The account id that refers to the customer's account no. This
          value will have been provided when setting up the card holder account.
        explode: false
        in: path
        name: accountid
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/AccountStatus'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
            text/xml:
              schema:
                $ref: '#/components/schemas/Acknowledgement'
          description: An acknowledgment that the card holder account status has been
            updated.</br></br>A response code of `001` is returned if the request
            was accepted or no change required.</br></br>A response code of `000`
            is returned if the request contains invalid data.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Account Status
      tags:
      - Card Holder Account Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/acl/check:
    post:
      description: |
        Allows the checking of IP addresses against configured ACLs. Requests can perform a lookup of addresses in subnets and
        services such as AWS or Azure to check that those addresses are listed in the ACLs.
      operationId: AclCheckRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AclCheckRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/AclCheckRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AclCheckResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/AclCheckResponseModel'
          description: Response to the ACL Check request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: ACL Check Request
      tags:
      - Operational Functions Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/authorise:
    post:
      description: "An authorisation process performs a standard transaction authorisation\
        \ based on the provided parameters of its request.\nThe CityPay gateway will\
        \ route your transaction via an Acquiring bank for subsequent authorisation\
        \ to the appropriate card \nschemes such as Visa or MasterCard.\n\nThe authorisation\
        \ API should be used for server environments to process transactions on demand\
        \ and in realtime. \n\nThe authorisation API can be used for multiple types\
        \ of transactions including E-commerce, mail order, telephone order,\ncustomer\
        \ present (keyed), continuous authority, pre-authorisation and others. CityPay\
        \ will configure your account for \nthe appropriate coding and this will perform\
        \ transparently by the gateway. \n\nData properties that are required, may\
        \ depend on the environment you are conducting payment for. Our API aims to\
        \ be\n flexible enough to cater for these structures. Our integration team\
        \ will aid you in providing the necessary data to \n transact. \n \n \n##\
        \ E-commerce workflows\n \nFor E-commerce transactions requiring 3DS, the\
        \ API contains a fully accredited in built mechanism to handle authentication.\n\
        \nThe Api and gateway has been accredited extensively with both Acquirers\
        \ and Card Schemes to simplify the nature of these calls\ninto a simple structure\
        \ for authentication, preventing integrators from performing lengthy and a\
        \ costly accreditations with\nVisa and MasterCard.\n\n3D-secure has been around\
        \ for a number of years and aims to shift the liability of a transaction away\
        \ from a merchant back\nto the card holder. A *liability shift* determines\
        \ whether a card holder can charge back a transaction as unknown. Effectively\n\
        the process asks for a card holder to authenticate the transaction prior to\
        \ authorisation producing a Cardholder \nverification value (CAVV) and ecommerce\
        \ indicator (ECI) as evidence of authorisation.\n\n3DS version 1 has now been\
        \ replaced by 3DS version 2 to provide secure customer authentication (SCA)\
        \ in line with EU regulation.\n3DSv2 is being phased out and any accounts\
        \ using version 1 of the protocol is expected to be migrated by March 2022.\
        \ \n\nAny new integrations should only consider 3DSv2 flows. \n\n### 3DSv2\n\
        \n```json\n{ \n  \"RequestChallenged\": {\n    \"acsurl\": \"https://bank.com/3DS/ACS\"\
        ,\n    \"creq\": \"SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...\"\
        ,\n    \"merchantid\": 12345,\n    \"transno\": 1,\n    \"threedserver_trans_id\"\
        : \"d652d8d2-d74a-4264-a051-a7862b10d5d6\"\n  }               \n}\n```\n\n\
        ```xml\n<RequestChallenged>\n  <acsurl>https://bank.com/3DS/ACS</acsurl>\n\
        \  <creq>SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...</creq>\n\
        \  <merchantid>12345</merchantid>\n  <transno>1</transno>\n  <threedserver_trans_id>d652d8d2-d74a-4264-a051-a7862b10d5d6</threedserver_trans_id>\n\
        </RequestChallenged>\n```\n\nCityPay support 3DS version 2.1 for Verified\
        \ by Visa, MasterCard Identity Check and American Express SafeKey 2.1. Version\n\
        2.2 is currently in development however this will be a seamless upgrade for\
        \ all integrations.\n\n#### 3-D Secure - None\n\n![3DSv2 Frctionless Flow](/images/3dsv2-no3d.png)\n\
        \nA basic flow may involve no 3-D secure processing. This could happen if\
        \ there is no ability to perform authentication.\nAn enrollment check may\
        \ apply an \"attempted\" resolution to processing. In this instance a transaction\
        \ may not meet any\nliability shift. A transaction may result in a decline\
        \ due to this. We are also able to prevent from transactions being\npresented\
        \ for authorisation if this occurs. \n\n#### 3-D Secure - Frictionless\n\n\
        ![3DSv2 Frctionless Flow](/images/3dsv2-frictionless.png)\n\nE-commerce transactions\
        \ supporting 3DSv2 can benefit from seamlessly authenticated transactions\
        \ which may perform a \n\"frictionless\" flow. This method will authenticate\
        \ low risk transactions with minimal impact to a \nstandard authorisation\
        \ flow. Our API simply performs this on behalf of you the developer, the merchant\
        \ and cardholder.\n\nNo redirection occurs and hence the flow is called frictionless\
        \ and will appear as though a simple transaction \nauthorisation has occurred.\n\
        \n#### 3-D Secure - Challenge\n\n![3DSv2 Frctionless Flow](/images/3dsv2-challenge.png)\n\
        \nA transaction that is deemed as higher risk my be \"challenged\". In this\
        \ instance, the API will return a\n[request challenge](#requestchallenged)\
        \ which will require your integration to forward the cardholder's browser\
        \ to the \ngiven [ACS url](#acsurl). This should be performed by posting the\
        \ [creq](#creq) value (the challenge request value). \n\nOnce complete, the\
        \ ACS will have already been in touch with our servers by sending us a result\
        \ of the authentication\nknown as `RReq`.\n\nTo maintain session state, a\
        \ parameter `threeDSSessionData` can be posted to the ACS url and will be\
        \ returned alongside \nthe `CRes` value. This will ensure that any controller\
        \ code will be able to isolate state between calls. This field\nis to be used\
        \ by your own systems rather than ours and may be any value which can uniquely\
        \ identify your cardholder's\nsession. As an option, we do provide a `threedserver_trans_id`\
        \ value in the `RequestChallenged` packet which can be used\nfor the `threeDSSessionData`\
        \ value as it is used to uniquely identify the 3D-Secure session. \n\nA common\
        \ method of maintaining state is to provide a session related query string\
        \ value in the `merchant_termurl` value\n(also known as the `notificationUrl`).\
        \ For example providing a url of `https://mystore.com/checkout?token=asny2348w4561..`\n\
        could return the user directly back to their session with your environment.\n\
        \nOnce you have received a `cres` post from the ACS authentication service,\
        \ this should be POSTed to the [cres](#cres) \nendpoint to perform full authorisation\
        \ processing. \n\nPlease note that the CRes returned to us is purely a mechanism\
        \ of acknowledging that transactions should be committed for\nauthorisation.\
        \ The ACS by this point will have sent us the verification value (CAVV) to\
        \ perform a liability shift. The CRes\nvalue will be validated for receipt\
        \ of the CAVV and subsequently may return response codes illustrating this.\
        \ \n\nTo forward the user to the ACS, we recommend a simple auto submit HTML\
        \ form.\n\n> Simple auto submit HTML form\n\n```html\n<html lang=\"en\">\n\
        <head>\n        <title>Forward to ACS</title>\n<script type=\"text/javascript\"\
        >\n        function onLoadEvent() { \n            document.acs.submit(); \n\
        \        }\n        </script>\n        <noscript>You will require JavaScript\
        \ to be enabled to complete this transaction</noscript>\n    </head>\n   \
        \ <body onload=\"onLoadEvent();\">\n        <form name=\"acs\" action=\"{{ACSURL\
        \ from Response}}\" method=\"POST\">\n            <input type=\"hidden\" name=\"\
        creq\" value=\"{{CReq Packet from Response}}\" />\n            <input type=\"\
        hidden\" name=\"threeDSSessionData\" value=\"{{session-identifier}}\" />\n\
        \        </form>\n    </body>\n</html>\n```\n\nA full ACS test suite is available\
        \ for 3DSv2 testing.\n        \n### Testing 3DSv2 Integrations\n\nThe API\
        \ provides a mock 3dsV2 handler which performs a number of scenarios based\
        \ on the value of the CSC in the request.\n\n| CSC Value | Behaviour |\n|-----------|-----------|\n\
        | 731       | Frictionless processing - Not authenticated |\n| 732       |\
        \ Frictionless processing - Account verification count not be performed |\
        \        \n| 733       | Frictionless processing - Verification Rejected |\
        \        \n| 741       | Frictionless processing - Attempts Processing | \
        \       \n| 750       | Frictionless processing - Authenticated  |       \
        \ \n| 761       | Triggers an error message |  \n| Any       | Challenge Request\
        \ |       \n\n\n#### 3DSv1\n\n**Please note that 3DSv1 should now be considered\
        \ as deprecated.**\n\n```json\n{ \n  \"AuthenticationRequired\": {\n    \"\
        acsurl\": \"https://bank.com/3DS/ACS\",\n    \"pareq\": \"SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...\"\
        ,\n    \"md\": \"WQgZXZlcnl0aGluZyBiZW\"\n  }               \n}\n```\n\n```xml\n\
        <AuthenticationRequired>\n <acsurl>https://bank.com/3DS/ACS</acsurl>\n <pareq>SXQgd2FzIHRoZSBiZXN0IG9mIHRpbWVzLCBpdCB3YXMgdGhlIHdvcnN00...</pareq>\n\
        \ <md>WQgZXZlcnl0aGluZyBiZW</md>\n</AuthenticationRequired>\n```\n\nFor E-commerce\
        \ transactions requiring 3DSv1, the API contains a built in MPI which will\
        \ be called to check whether the\ncard is participating in 3DSv1 with Verified\
        \ by Visa or MasterCard SecureCode. We only support Amex SafeKey with 3DSv2.\
        \ Should the card be enrolled, a payer\nrequest (PAReq) value will be created\
        \ and returned back as an [authentication required](#authenticationrequired)\
        \ response object.\n\nYour system will need to process this authentication\
        \ packet and forward the user's browser to an authentication server (ACS)\n\
        to gain the user's authentication. Once complete, the ACS will produce a HTTP\
        \ `POST` call back to the URL supplied in\nthe authentication request as `merchant_termurl`.\
        \ This URL should behave as a controller and handle the post data from the\n\
        ACS and on a forked server to server HTTP request, forward this data to the\
        \ [pares authentication url](#pares) for\nsubsequent authorisation processing.\
        \ You may prefer to provide a processing page whilst this is being processed.\n\
        Processing with our systems should be relatively quick and be between 500ms\
        \ - 3000ms however it is desirable to let\nthe user see that something is\
        \ happening rather than a pending browser.\n\nThe main reason for ensuring\
        \ that this controller is two fold:\n\n1. We are never in control of the user's\
        \ browser in a server API call\n2. The controller is actioned on your site\
        \ to ensure that any post actions from authorisation can be executed in real\
        \ time\n\nTo forward the user to the ACS, we recommend a simple auto submit\
        \ HTML form.\n\n> Simple auto submit HTML form\n\n```html\n<html lang=\"en\"\
        >\n<head>\n        <title>Forward to ACS</title>\n<script type=\"text/javascript\"\
        >\n        function onLoadEvent() { \n            document.acs.submit(); \n\
        \        }\n        </script>\n        <noscript>You will require JavaScript\
        \ to be enabled to complete this transaction</noscript>\n    </head>\n   \
        \ <body onload=\"onLoadEvent();\">\n        <form name=\"acs\" action=\"{{ACSURL\
        \ from Response}}\" method=\"POST\">\n            <input type=\"hidden\" name=\"\
        PaReq\" value=\"{{PaReq Packet from Response}}\" />\n            <input type=\"\
        hidden\" name=\"TermUrl\" value=\"{{Your Controller}}\" />\n            <input\
        \ type=\"hidden\" name=\"MD\" value=\"{{MD From Response}}\" />\n        </form>\n\
        \    </body>\n</html>\n```\n\nPlease note that 3DSv1 is being phased out due\
        \ to changes to strong customer authentication mechanisms. 3DSv2 addresses\n\
        this and will solidify the authorisation and confirmation process.\n\nWe provide\
        \ a Test ACS for full 3DSv1 integration testing that simulates an ACS.\n"
      operationId: AuthorisationRequest
      requestBody:
        content:
          application/json:
            examples:
              example1:
                externalValue: AuthorisationRequest-example1.json
                summary: Basic capture call for a merchant with a given identifier
            schema:
              $ref: '#/components/schemas/AuthRequest'
          text/xml:
            examples:
              example1:
                externalValue: AuthorisationRequest-example1.xml
                summary: Basic capture call for a merchant with a given identifier
            schema:
              $ref: '#/components/schemas/AuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Decision'
            text/xml:
              schema:
                $ref: '#/components/schemas/Decision'
          description: A decision made by the result of processing.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Authorisation
      tags:
      - Authorisation and Payment Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/batch/process:
    post:
      description: |
        A batch process request is used to start the batch process workflow by uploading batch
        data and initialising a new batch for processing. Once validated the batch will be queued
        for processing and further updates can be received by a subsequent call to retrieve the batch
        status.
      operationId: BatchProcessRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessBatchRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ProcessBatchRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessBatchResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ProcessBatchResponse'
          description: Request to process a batch provided in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Batch Process Request
      tags:
      - Batch Processing Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/batch/retrieve:
    post:
      description: The operation is used to retrieve a report of the result of a batch
        process.
      operationId: BatchReportRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchReportRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/BatchReportRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchReportResponseModel'
            text/xml:
              schema:
                $ref: '#/components/schemas/BatchReportResponseModel'
          description: The report for a given batch.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: BatchReportRequest
      tags:
      - Batch Processing Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/batch/status:
    post:
      description: The operation is used to retrieve the status of a batch process.
      operationId: CheckBatchStatusRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckBatchStatus'
          text/xml:
            schema:
              $ref: '#/components/schemas/CheckBatchStatus'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckBatchStatusResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/CheckBatchStatusResponse'
          description: The status of batches provided in the request.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: CheckBatchStatus
      tags:
      - Batch Processing Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/bin:
    post:
      description: "A bin range lookup service can be used to check what a card is,\
        \ as seen by the gateway. Each card number's \nleading digits help to identify\
        \ who\n\n0. the card scheme is such as Visa, MasterCard or American Express\
        \ \n1. the issuer of the card, such as the bank\n2. it's country of origin\n\
        3. it's currency of origin\n\nOur gateway has 450 thousand possible bin ranges\
        \ and uses a number of algorithms to determine the likelihood of the bin\n\
        data. The request requires a bin value of between 6 and 12 digits. The more\
        \ digits provided may ensure a more accurate\nresult.\n"
      operationId: BinRangeLookupRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BinLookup'
          text/xml:
            schema:
              $ref: '#/components/schemas/BinLookup'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Bin'
            text/xml:
              schema:
                $ref: '#/components/schemas/Bin'
          description: A result of the bin lookup request returning a bin object determined
            by the gateway service.
        "400":
          description: Bad Request. Should the incoming data not be validly determined.
        "401":
          description: Unauthorized. No api key has been provided and is required
            for this operation.
        "403":
          description: Forbidden. The api key was provided and understood but is either
            incorrect or does not have permission to access the account provided on
            the request.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
            text/xml:
              schema:
                $ref: '#/components/schemas/Error'
          description: Unprocessable Entity. Should a failure occur that prevents
            processing of the API call.
        "500":
          description: Server Error. The server was unable to complete the request.
      security:
      - cp-api-key: []
      summary: Bin Lookup
      tags:
      - Authorisation and Payment Api
      x-contentType: application/json
      x-accepts: application/json
  /v6/capture:
    post:
      description: "_The capture process only applies to transactions which have been\
[...]
